/* Variables */

$gold: #c99e67
$grey: #474e56
$red:  #a94442



/* Media Queries */

$mobile: 480px
$tablet: 768px

@mixin mobile
	@media (min-width: 0px) and (max-width: #{$tablet})
		@content

@mixin tablet
	@media (min-width: #{$mobile + 1px}) and (max-width: #{$tablet})
		@content



/* Fonts */

@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Open+Sans)



/* Main Styles */

body
	background: $grey
	font-family: 'Open Sans', sans-serif

h1
	color: $gold
	font-family: 'Yanone Kaffeesatz', sans-serif
	text-transform: uppercase
	font-weight: bold
	letter-spacing: 1px
	font-size: 38px
	@include mobile
		margin-bottom: 2.5em

p
	font-family: 'Open Sans', sans-serif

a
	&:hover
		text-decoration: none

.ease
	-webkit-transition: all .2s ease-out
	-moz-transition: all .2s ease-out
	-o-transition: all .2s ease-out
	transition: all .2s ease-out

nav.navbar.navbar-default
	border-radius: 0px
	border: none
	background: #fff
	font-weight: bold
	.navbar-brand
		padding: 20px 15px 15px
		height: 60px
	li
		border-bottom: 5px solid #fff
		border-top: 5px solid #fff
		color: $grey
		&:hover
			@extend .ease
			border-bottom: 5px solid $gold
			@include mobile
				border-color: #fff
		a
			@include mobile
				color: #333
	li.active
		border-bottom: 5px solid $gold
		border-top: 5px solid $gold
		&:hover
			border-bottom: 5px solid darken($gold, 10%)
			@include mobile
				border-color: $gold
	
		a
			background: $gold
			color: #fff
			&:hover
				background: $gold
				color: #fff

            
@include mobile
	ul.nav.navbar-nav
		margin: 0 -15px

.navbar-default .navbar-toggle
	border: none
	border-radius: 0px
	width: 60px
	height: 60px
	margin: 0
	padding: 9px 20px
	background: $gold
	@include mobile
		background: $gold
		color: #fff
		&:focus
			background: $gold
	&:hover
		background: $gold
		@include mobile
			background: $gold
	.icon-bar
		background: #fff
.navbar-nav 
	.open
		.dropdown-menu > li > a
			padding: 5px 15px
			font-weight: bold	

ul.nav.navbar-nav.navbar-right
	li.dropdown
		@include mobile
			border: 0px
		a
			@include mobile
				border-top: 5px solid #fff
				border-bottom: 5px solid #fff
	li.dropdown.open
		ul.dropdown-menu
			border-radius: 0px
			top: 55px
			border: none
			background: $gold
			color: #fff
			padding: 0
			@include mobile
				border-radius: 0px
				top: 55px
				background: #eee
				color: #333
				padding: 0
			li.divider
				display: none

			li
				border-color: $gold
				color: #fff
				padding: 5px 0
				@include mobile
					border-color: #eee
					color: #333
					padding: 5px 0
				&:hover
					background: darken($gold, 10%)
					border-color: darken($gold, 10%)
					@include mobile
						background: #eee
						border-color: #eee
				a
					color: #fff
					@include mobile
						border-color: #eee
						color: #333
					&:hover
						background: darken($gold, 10%)
						@include mobile
							background: #eee
				a.dropdown-toggle
					@include mobile
						border-color: #fff


.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus
	background: #fff

.btn, input[type=submit]
	@extend .ease
	border-radius: 0
	padding: 10px

.table
	background-color: #fff
	.glyphicon
		font-size: 24px
		color: lighten($grey, 5%)
		display: inline
		position: relative
		text-decoration: none
		&:after
			display: none
			position: absolute
			background: lighten($grey, 20%)
			top: -54px
			color: #fff
			font-family: arial
			padding: 13px 20px
			font-family: arial, sans-serif
			font-size: 16px
			border-bottom: 5px solid lighten($grey, 10%)
			z-index: 1
		&:hover::after
			display: block
			@include mobile
				display: none
	.glyphicon.glyphicon-eye-open
		&:hover
			color: darken($grey, 10%)
		&:after
			content: "View"
			left: -25px
	.glyphicon.glyphicon-edit
		&:hover
			color: darken($grey, 10%)
		&:after
			content: "Update"
			left: -23px
	.glyphicon.glyphicon-trash
		color: $red
		&:after
			content: "Delete"
			left: -30px
	.text-danger
		color: $red
	.text-success
		color: #3c763d

	tbody
		tr
			@include mobile
				display: block
				border-bottom: 2em solid $grey
			&:hover
				@extend .ease
				background: rgba(220, 220, 220, 0.7)
			td
				border: none
				font-weight: bold
				@include mobile
					width: 100%
					display: block
					text-align: center
					background: #fff
					min-height: 36px
					&:nth-child(odd)
						background: #f9f9f9
						&:hover
							background: #f9f9f9
					&:hover
						background: #fff
					&:before
						content: attr(data-label)
						display: inline-block
						margin-right: 1em
						float: left
						width: 77px
						text-align: center
						padding: 0
						height: 100%
	thead
		tr
			background: darken($grey, 5%)
			color: #fff
			@include mobile
				display: none
			th
				font-size: 20px
				border-bottom: 5px solid darken($grey, 10%)
				font-weight: normal

.panel
	border: none
	background-color: #fff
	border-radius: 0px
	.panel-heading
		background: darken($grey, 5%)
		color: #fff
		font-size: 20px
		border-bottom: 5px solid darken($grey, 10%)
		border-radius: 0
	.panel-body
		border: none
		font-weight: bold
                
.container
	position: relative
	width: 80%
	.btn-primary
		top: 19px
		right: 15px
		padding: 5px 20px
		background: transparent
		border: 3px solid #fff
		font-size: 20px
		@include mobile
			top: 4em
			width: 94%
			box-sizing: border-box
			padding: 0.5em 0
			margin: 0
			right: 15px
			left: 15px
		&:hover
			background: #fff
			color: $gold
	.btn-bottom
		@extend .ease
		background: transparent
		border: 3px solid #fff
		font-size: 20px
		bottom: -80px
		position: absolute
		top: auto
		padding: 0.5em 1em
		color: #fff
		font-weight: bold
		margin-bottom: 1em
		margin-left: 15px
		@include mobile
			left: 0px
			right: 15px
			float: left
			text-align: center
			background: #fff
			color: $gold
		&:hover
			background: #fff
			color: $gold
	.login-container
		width: 60%
		margin: 5em 20% 0
		padding: 1em 5%
		color: $gold
		background: darken(#fff, 10%)
		border-bottom: 5px solid darken(#fff, 20%)
		@include mobile
			width: 100%
			margin: 5em 0 0 0
		@include tablet
			width: 90%
			margin: 5em 5% 0
		.btn-primary
			position: inherit

	h2
		margin: 10px 0 20px 0
		font-family: 'Yanone Kaffeesatz', sans-serif
		text-transform: uppercase
		font-weight: bold
		letter-spacing: 1px
		font-size: 38px
		text-align: center
	input
		width: 100%
		border: none
	input[type="email"], input[type="password"]
		padding: 0.75em
	input[type="checkbox"]
		width: 20px
		height: 20px
	.btn-primary
		border: 3px solid #fff
		color: $gold
		margin-bottom: 1em
		position: absolute
	.field
		margin-bottom: 1em
	.form-btn-container
		text-align: center