/* Variables */
/* Media Queries */
/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Open+Sans);
/* Main Styles */
body {
  background: #474e56;
  font-family: "Open Sans", sans-serif; }

h1 {
  color: #c99e67;
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 38px; }
  @media (min-width: 0px) and (max-width: 768px) {
    h1 {
      margin-bottom: 2.5em; } }

p {
  font-family: "Open Sans", sans-serif; }

a:hover {
  text-decoration: none; }

.ease, nav.navbar.navbar-default li:hover, .btn, input[type=submit], .table tbody tr:hover, .container .btn-bottom {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

nav.navbar.navbar-default {
  border-radius: 0px;
  border: none;
  background: #fff;
  font-weight: bold; }
  nav.navbar.navbar-default .navbar-brand {
    padding: 20px 15px 15px;
    height: 60px; }
  nav.navbar.navbar-default li {
    border-bottom: 5px solid #fff;
    border-top: 5px solid #fff;
    color: #474e56; }
    nav.navbar.navbar-default li:hover {
      border-bottom: 5px solid #c99e67; }
      @media (min-width: 0px) and (max-width: 768px) {
        nav.navbar.navbar-default li:hover {
          border-color: #fff; } }
    @media (min-width: 0px) and (max-width: 768px) {
      nav.navbar.navbar-default li a {
        color: #333; } }
  nav.navbar.navbar-default li.active {
    border-bottom: 5px solid #c99e67;
    border-top: 5px solid #c99e67; }
    nav.navbar.navbar-default li.active:hover {
      border-bottom: 5px solid #bb8642; }
      @media (min-width: 0px) and (max-width: 768px) {
        nav.navbar.navbar-default li.active:hover {
          border-color: #c99e67; } }
    nav.navbar.navbar-default li.active a {
      background: #c99e67;
      color: #fff; }
      nav.navbar.navbar-default li.active a:hover {
        background: #c99e67;
        color: #fff; }

@media (min-width: 0px) and (max-width: 768px) {
  ul.nav.navbar-nav {
    margin: 0 -15px; } }
.navbar-default .navbar-toggle {
  border: none;
  border-radius: 0px;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 9px 20px;
  background: #c99e67; }
  @media (min-width: 0px) and (max-width: 768px) {
    .navbar-default .navbar-toggle {
      background: #c99e67;
      color: #fff; }
      .navbar-default .navbar-toggle:focus {
        background: #c99e67; } }
  .navbar-default .navbar-toggle:hover {
    background: #c99e67; }
    @media (min-width: 0px) and (max-width: 768px) {
      .navbar-default .navbar-toggle:hover {
        background: #c99e67; } }
  .navbar-default .navbar-toggle .icon-bar {
    background: #fff; }

.navbar-nav .open .dropdown-menu > li > a {
  padding: 5px 15px;
  font-weight: bold; }

@media (min-width: 0px) and (max-width: 768px) {
  ul.nav.navbar-nav.navbar-right li.dropdown {
    border: 0px; } }
@media (min-width: 0px) and (max-width: 768px) {
  ul.nav.navbar-nav.navbar-right li.dropdown a {
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff; } }
ul.nav.navbar-nav.navbar-right li.dropdown.open ul.dropdown-menu {
  border-radius: 0px;
  top: 55px;
  border: none;
  background: #c99e67;
  color: #fff;
  padding: 0; }
  @media (min-width: 0px) and (max-width: 768px) {
    ul.nav.navbar-nav.navbar-right li.dropdown.open ul.dropdown-menu {
      border-radius: 0px;
      top: 55px;
      background: #eee;
      color: #333;
      padding: 0; } }
  ul.nav.navbar-nav.navbar-right li.dropdown.open ul.dropdown-menu li.divider {
    display: none; }
  ul.nav.navbar-nav.navbar-right li.dropdown.open ul.dropdown-menu li {
    border-color: #c99e67;
    color: #fff;
    padding: 5px 0; }
    @media (min-width: 0px) and (max-width: 768px) {
      ul.nav.navbar-nav.navbar-right li.dropdown.open ul.dropdown-menu li {
        border-color: #eee;
        color: #333;
        padding: 5px 0; } }
    ul.nav.navbar-nav.navbar-right li.dropdown.open ul.dropdown-menu li:hover {
      background: #bb8642;
      border-color: #bb8642; }
      @media (min-width: 0px) and (max-width: 768px) {
        ul.nav.navbar-nav.navbar-right li.dropdown.open ul.dropdown-menu li:hover {
          background: #eee;
          border-color: #eee; } }
    ul.nav.navbar-nav.navbar-right li.dropdown.open ul.dropdown-menu li a {
      color: #fff; }
      @media (min-width: 0px) and (max-width: 768px) {
        ul.nav.navbar-nav.navbar-right li.dropdown.open ul.dropdown-menu li a {
          border-color: #eee;
          color: #333; } }
      ul.nav.navbar-nav.navbar-right li.dropdown.open ul.dropdown-menu li a:hover {
        background: #bb8642; }
        @media (min-width: 0px) and (max-width: 768px) {
          ul.nav.navbar-nav.navbar-right li.dropdown.open ul.dropdown-menu li a:hover {
            background: #eee; } }
    @media (min-width: 0px) and (max-width: 768px) {
      ul.nav.navbar-nav.navbar-right li.dropdown.open ul.dropdown-menu li a.dropdown-toggle {
        border-color: #fff; } }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: #fff; }

.btn, input[type=submit] {
  border-radius: 0;
  padding: 10px; }

.table {
  background-color: #fff; }
  .table .glyphicon {
    font-size: 24px;
    color: #535b64;
    display: inline;
    position: relative;
    text-decoration: none; }
    .table .glyphicon:after {
      display: none;
      position: absolute;
      background: #76818d;
      top: -54px;
      color: #fff;
      font-family: arial;
      padding: 13px 20px;
      font-family: arial, sans-serif;
      font-size: 16px;
      border-bottom: 5px solid #5e6772;
      z-index: 1; }
    .table .glyphicon:hover::after {
      display: block; }
      @media (min-width: 0px) and (max-width: 768px) {
        .table .glyphicon:hover::after {
          display: none; } }
  .table .glyphicon.glyphicon-eye-open:hover {
    color: #30353a; }
  .table .glyphicon.glyphicon-eye-open:after {
    content: "View";
    left: -25px; }
  .table .glyphicon.glyphicon-edit:hover {
    color: #30353a; }
  .table .glyphicon.glyphicon-edit:after {
    content: "Update";
    left: -23px; }
  .table .glyphicon.glyphicon-trash {
    color: #a94442; }
    .table .glyphicon.glyphicon-trash:after {
      content: "Delete";
      left: -30px; }
  .table .text-danger {
    color: #a94442; }
  .table .text-success {
    color: #3c763d; }
  @media (min-width: 0px) and (max-width: 768px) {
    .table tbody tr {
      display: block;
      border-bottom: 2em solid #474e56; } }
  .table tbody tr:hover {
    background: rgba(220, 220, 220, 0.7); }
  .table tbody tr td {
    border: none;
    font-weight: bold; }
    @media (min-width: 0px) and (max-width: 768px) {
      .table tbody tr td {
        width: 100%;
        display: block;
        text-align: center;
        background: #fff;
        min-height: 36px; }
        .table tbody tr td:nth-child(odd) {
          background: #f9f9f9; }
          .table tbody tr td:nth-child(odd):hover {
            background: #f9f9f9; }
        .table tbody tr td:hover {
          background: #fff; }
        .table tbody tr td:before {
          content: attr(data-label);
          display: inline-block;
          margin-right: 1em;
          float: left;
          width: 77px;
          text-align: center;
          padding: 0;
          height: 100%; } }
  .table thead tr {
    background: #3b4148;
    color: #fff; }
    @media (min-width: 0px) and (max-width: 768px) {
      .table thead tr {
        display: none; } }
    .table thead tr th {
      font-size: 20px;
      border-bottom: 5px solid #30353a;
      font-weight: normal; }

.panel {
  border: none;
  background-color: #fff;
  border-radius: 0px; }
  .panel .panel-heading {
    background: #3b4148;
    color: #fff;
    font-size: 20px;
    border-bottom: 5px solid #30353a;
    border-radius: 0; }
  .panel .panel-body {
    border: none;
    font-weight: bold; }

.container {
  position: relative;
  width: 80%; }
  .container .btn-primary {
    top: 19px;
    right: 15px;
    padding: 5px 20px;
    background: transparent;
    border: 3px solid #fff;
    font-size: 20px; }
    @media (min-width: 0px) and (max-width: 768px) {
      .container .btn-primary {
        top: 4em;
        width: 94%;
        box-sizing: border-box;
        padding: 0.5em 0;
        margin: 0;
        right: 15px;
        left: 15px; } }
    .container .btn-primary:hover {
      background: #fff;
      color: #c99e67; }
  .container .btn-bottom {
    background: transparent;
    border: 3px solid #fff;
    font-size: 20px;
    bottom: -80px;
    position: absolute;
    top: auto;
    padding: 0.5em 1em;
    color: #fff;
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: 15px; }
    @media (min-width: 0px) and (max-width: 768px) {
      .container .btn-bottom {
        left: 0px;
        right: 15px;
        float: left;
        text-align: center;
        background: #fff;
        color: #c99e67; } }
    .container .btn-bottom:hover {
      background: #fff;
      color: #c99e67; }
  .container .login-container {
    width: 60%;
    margin: 5em 20% 0;
    padding: 1em 5%;
    color: #c99e67;
    background: #e6e6e6;
    border-bottom: 5px solid #cccccc; }
    @media (min-width: 0px) and (max-width: 768px) {
      .container .login-container {
        width: 100%;
        margin: 5em 0 0 0; } }
    @media (min-width: 481px) and (max-width: 768px) {
      .container .login-container {
        width: 90%;
        margin: 5em 5% 0; } }
    .container .login-container .btn-primary {
      position: inherit; }
  .container h2 {
    margin: 10px 0 20px 0;
    font-family: "Yanone Kaffeesatz", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 38px;
    text-align: center; }
  .container input {
    width: 100%;
    border: none; }
  .container input[type="email"], .container input[type="password"] {
    padding: 0.75em; }
  .container input[type="checkbox"] {
    width: 20px;
    height: 20px; }
  .container .btn-primary {
    border: 3px solid #fff;
    color: #c99e67;
    margin-bottom: 1em;
    position: absolute; }
  .container .field {
    margin-bottom: 1em; }
  .container .form-btn-container {
    text-align: center; }
